@model PhotoStorage.ViewModels.DeleteGalleryViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="yellow-text">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete <b>@Model.GalleryName?</b></h3>
</div>

<div class="yellow-text">
    <hr />
    <dl class="dl-horizontal">
        
        @Html.HiddenFor(model => model.GalleryId)

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "ViewGallery", new {id = Model.GalleryId})
        </div>
    }
</div>
