@model IEnumerable<PhotoStorage.ViewModels.GalleryListViewModel>

@{
    ViewBag.Title = "Galleries";
    int counter = 0;
}

<div class = "container">
    <a href="@Url.Action("Create", "Gallery")" class="links">
        <img alt="Add New Gallery" src="@Url.Content("~/Content/images/plus_sign.png")">
    </a>
    <h1 class="gallery-header col-sm-8">Galleries</h1>
<hr />
</div>

<div class="container">
    <div class="row">
    @foreach (var item in Model)
    {
        if(counter != 0 && counter % 6 == 0)
        {
            @:</div>
            @:<div class="row">
            <br>
        }
        
        <div class="col-sm-2">
            <img src="@Url.Content(item.ImageUrl)" class="cl-sm-8 img-thumbnail " height="100" width="100" />
            <br />
            @Html.ActionLink(item.Name, "ViewGallery", new { id = item.Id })
        </div>
        
        counter++;
}
    </div>
</div>

